body {
    height: 100%;
/*    background-color: rgb(42, 165, 170);
    background-image: url('teal3.jpg');
    background-blend-mode: overlay;
    background-attachment:fixed;*/
}

nav {
    border-bottom: 2px solid grey;
}

.container {
    background-color: white;
    padding-right: 0;
    padding-left: 0;
    min-height: 100vh;
    border: 1px solid darkslategrey;
}

.my-search {
    background-image: url('orange5.jpg');
/*    background-color: rgb(245, 128, 32);*/
    min-height: 100vh;
    border: 1px solid darkslategrey;
}

.my-border {
    border-bottom: 1px solid darkslategrey;
    border-top: 1px solid darkslategrey;
}

#my-padding{
    padding-right: 15px;
    padding-left: 15px;
}

.hotel-card {
    margin-top: 5px;
}

h1 {
    font-family: Bahnschrift;
}

.webpage-name {
    vertical-align: middle;
    font-family: Bahnschrift;
    font-size: 30px;
}

.thumb {
    width:200px;
    height:200px;
}

.my-star {
    vertical-align: top;
    width: 15px;
    height: 15px;
}

.my-btn{
    display: inline;
}

