body {
    height: 100%;
}


@media (min-width: 768px) {
    .col-md-3 {
        max-width: 24% !important;
    }
}

.img-fluid {
    max-width: 100%;
    max-height: 20%;
}

.pagination {
    margin-top: 20px;
}

nav {
    border-bottom: 4px solid blue;
    border-radius: 5px;
    opacity: 0.9;
    margin-bottom: 20px;
    padding: 0px !important;
}

@media (min-width: 768px) {
    max-width: 23%;

    .carousel-multi-item-2 .col-md-3 {
        float: left;
        width: 25%;
    }
}

.controls-top {
    text-align:center!important;
}

.mb-3, .my-3 {
    margin-bottom:0 !important;
    display: inline-block;
    padding: 0px 5px !important;
}

.carousel-multi-item-2 .card img {
    border-radius: 2px;
}

.container {
    background-color: white;
    padding: 0px !important;
    min-height: 100vh;
}

.container-nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#my-padding{
    padding-right: 15px;
    padding-left: 15px;
}

.hotel-card {
    margin-top: 5px;
}

h1 {
    font-family: Bahnschrift;
}

.webpage-name {
    vertical-align: middle;
    font-family: Bahnschrift;
    font-size: 30px;
}

.thumb {
    width:200px;
    height:200px;
}

.my-star {
    vertical-align: top;
    width: 15px;
    height: 15px;
}

.my-btn{
    display: inline;
}

.google-btn {
    display:inline-block;
    margin: 20px 0px;
    float:left;
}

.face-btn {
    display: inline-block;
    margin: 20px 0px;
    float:right;
}

.btn.btn-sm {
    font-size:12px;
}

.title {
    text-align:center;
}