@model ReservationViewModel

<h1>Add a new Reservation</h1>

<form asp-controller="Reservation" asp-action="@ViewData["Action"]" method="post">
    <div class="form-group">
        
        
    </div>
    
    
    
</form>