@model List<Reservation>

@{
    ViewData["Title"] = "MyReservation";
}

<h1>My Reservation</h1>


<table class="table">
    <tr>
        <th>Reservation Start</th>
        <th>Hotel</th>
        <th>More info</th>
    </tr>
    @foreach (var reservation in @Model)
    {
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    }
</table>
