@model HotelBookingGarnet.ViewModels.RegisterViewModel

@{
    ViewData["Title"] =@localizer["Find your email"];
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-12">
        <h6>@localizer["Enter your email"]</h6>
        <hr/>
        <form asp-controller="AppUser" asp-action="SendRecoveryEmail" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-outline-info">@localizer["Request new password"]</button>
        </form>
    </div>
</div>