<h1>@localizer["NewPassword Email Sent"]</h1>
<h5>@localizer["Please check your email for your new password"]</h5>
<hr/>
<a asp-action="Login" asp-controller="Login">@localizer["Back to Login page"]</a>