@model HotelViewModel


<form asp-controller="Hotel" asp-action="EditHotel" asp-route-HotelId="@ViewData["HotelId"]" method="post">
    <div class="form-group">
        <label asp-for="HotelName">Name of the hotel</label>
        <input asp-for="HotelName" value="@ViewData.Model.HotelName" > 
    </div>
    <div class="form-group">
        <label asp-for="Country"></label>
        <input asp-for="Country">
    </div>
    <div class="form-group">
        <label asp-for="Region"></label>
        <input asp-for="Region">
    </div>
    <div class="form-group">
        <label asp-for="City"></label>
        <input asp-for="City">
    </div>
    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address">
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description">
    </div>
    <div class="form-group">
            <label asp-for="Price"></label>
            <input asp-for="Price"/>
        </div>
    <div class="form-group">
        <label asp-for="StarRating">Stars</label>
        <select asp-for="StarRating" asp-items="Html.GetEnumSelectList<StarRating>()" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="PropertyType">Property type</label>
        <select asp-for="PropertyType" asp-items="Html.GetEnumSelectList<PropertyType>()" class="form-control"></select>
    </div>
    <div>
        <button type="submit" class="btn btn-success">Save changes</button>
    </div>
    
</form>