@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width-device-width" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>@ViewBag.Title</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" a asp-action="Index" asp-controller="Home">
            <img src="~/images/gt_logo.png" height="40" width="40">
        </a>
        <ul class="navbar-nav ml-auto">
            @if (SignInManager.IsSignedIn(User))
            {
                if (!User.IsInRole("Guest"))
                {
                    <form method="get" asp-action="AddHotel" asp-controller="Hotel">
                        <button type="submit" class="nav-link btn btn-link py-0" style="width: auto">
                            AddHotel
                        </button>
                    </form>
                }
                <form method="post" asp-action="Logout" asp-controller="Home">
                    <button type="submit" class="nav-link btn btn-link py-0" style="width: auto">
                        Logout (@User.Identity.Name)
                    </button>
                </form>
            }
            else
            {
                <li class="nav-item">
                    <a asp-action="Login" asp-controller="Login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a asp-action="Register" asp-controller="Register" class="nav-link">Register</a>
                </li>
            }
        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>